html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}


ul {
  list-style-type: none;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }


  @media only screen and (min-width: 60em) {

    html {
      font-size: 120%;
      line-height: 1.5;
    }

    h1,
    p {
      margin: 0 0 1.5rem;
    }


    @media only screen and (min-width: 90em) {

      html {
        font-size: 130%;
      }
